@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Page</h2>

<p>
    <a href="~/Appointments/AppointmentManagement" Manage Appointments>Manage Appointments</a>
    <a href="~/CTMachines/CTMachineManagement" Manage CT Machines>Manage CT Machines</a>
    <a href="~/USERs/UserManagement" Manage Users>Manage Users</a>
</p>

